body{
    padding-left: 60px;
    padding-right: 60px;
}
h1{
    color: #EC4067;
}
.main{

    padding-left: 400px;
    word-spacing: 0px;
    display: inline;
    
}
button{
    background-color: #EC4067;
    padding: 10px;
    color: rgb(255, 255, 255);
    border-radius: 5px;
    border-color: #EC4067;

}

.image{
    height: 350px;
    width: 650px;
}
.hero1{
    height: 450px;
    width: 500px;
    padding: 0px;
}

.flex-container {
    padding: 10px;
    display: flex;
}

.flex-child {
    align-content: center;
    padding-top: 50px;
    padding-left: 40px;
    padding-right: 40px;

}  
.flex-son{
    padding: 20px;
    
}
.word{

    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 40px;
    

}  
sup{
    color: gray;
    font-size: small;
}
sub{
    color: gray;
    font-size: small;
}

.ava{ 
    height: 200px;
    width: 240px;
    
}
.bike{
    height: 400px;
    width: 800px;
}
h4{
    color: #EC4067;
}

footer{
    background-color: #F6F6F6;
    padding-left: 600px;
    padding-top: 30px;
    padding-bottom: 30px;

}