body{
    padding-left: 30px;
    padding-right: 30px;
}
h1{
    color: #EC4067;
}
.main{

    padding-left: 400px;
    word-spacing: 0px;
    display: inline;
    
    
}
.son{
    display: inline;
    
}
button{
    background-color: #EC4067;
    padding: 10px;
    color: rgb(255, 255, 255);
    border: none;
}
.link{
    color: #000;
    text-decoration: black;
    float: left;
    
}
ul{
    display: inline;
    list-style-type: none;
    justify-content: space-around;
    overflow: hidden;
}

.image{
    height: 350px;
    width: 600px;
}

.flex-container {
    padding: 10px;
    display: flex;
}

.flex-child {

    padding: 10px;

}  
.word{

    padding-top: 100px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 80px;

}  
.ava{ 
    height: 200px;
    width: 240px;
    
}
.bike{
    height: 500px;
    width: 800px;
}
h4{
    color: #EC4067;
}
footer{
    background-color: #F6F6F6;
    padding-left: 600px;
    padding-top: 30px;
    padding-bottom: 30px;

}